# Firebase Client Configuration (Next.js Public)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_DATABASE_URL=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=


# URL Aplikasi Anda (untuk link verifikasi)
NEXT_PUBLIC_APP_URL=

# Firebase Admin SDK Credentials
# (Dapatkan dari Firebase Console > Project Settings > Service Accounts > Generate new private key)
FIREBASE_PROJECT_ID="nama-project-id-anda"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxx@nama-project-id.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIB... (isi panjang lengkap dari file JSON, pastikan formatnya benar) ...==\n-----END PRIVATE KEY-----\n"

# Pengaturan SMTP (Jika menggunakan Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER="email.anda@gmail.com"
SMTP_PASS="password_app_16_huruf"