@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #000000;
  --heading: #000000;
  --primary: #f5b553;
  --secondary: #854836;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-heading: var(--heading);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;
}

.dark {
  --background: #000000;
  --foreground: #f7f7f7;
  --heading: #f7f7f7;
  --primary: #f5b553;
  --secondary: #854836;
}

body {
  background: var(--background);
  color: var(--foreground);
}
